{# base.twig - the mother of all views, overwrite blocks to manipulate #}
{# Default Modal Values #}
{% set modalId = 'modal' %}
{% set modalIcon = 'Modal Icon' %}
{% set modalTitle = 'Modal Title' %}
{% set modalSubtitle = 'Modal Subtitle' %}
{% set modalBody = 'Modal Body' %}
{% set modalFooter = 'Modal Footer' %}
{# Set Apps of the Sidebar #}
{% set apps = [
        {

            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>',
            url: "/",
            title: "Home",
            description: "Go to the home screen"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-display" viewBox="0 0 16 16">
                    <path d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145"/>
                </svg>',
            url: "/dashboard",
            title: "Dashboard",
            description: "Visit the dashboard"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                </svg>',
            url: "/links",
            title: "Links",
            description: "Manage your collections"
        }
    ]
%}
{# End of Default Modal Values #}
<!DOCTYPE html>
<html lang="en" class="h-full">
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WebDev HQ &middot; API Service{% endblock %}</title>
	
    {% block favicons %}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="API" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
    {% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
    {% endblock %}

    {% block custom_fonts_css %}
    {% set font_base = './assets/fonts/Poppins/' %}
    <style id="custom-fonts-css">
        @font-face { font-family: "La Belle Aurore"; src: url("./assets/fonts/La-Belle-Aurore/LaBelleAurore-Regular.ttf"); }

        @font-face { font-family: "Poppins Black"; src: url(font_base ~ "Poppins-Black.ttf"); }
        @font-face { font-family: "Poppins Black Italic"; src: url(font_base ~ "Poppins-BlackItalic.ttf"); }
        @font-face { font-family: "Poppins Bold"; src: url(font_base ~ "Poppins-Bold.ttf"); }
        @font-face { font-family: "Poppins Bold Italic"; src: url(font_base ~ "Poppins-BoldItalic.ttf"); }
        @font-face { font-family: "Poppins Extra Bold"; src: url(font_base ~ "Poppins-ExtraBold.ttf"); }
        @font-face { font-family: "Poppins Extra BoldItalic"; src: url(font_base ~ "Poppins-ExtraBoldItalic.ttf"); }
        @font-face { font-family: "Poppins Extra Light"; src: url(font_base ~ "Poppins-ExtraLight.ttf"); }
        @font-face { font-family: "Poppins Extra LightItalic"; src: url(font_base ~ "Poppins-ExtraLightItalic.ttf"); }
        @font-face { font-family: "Poppins Italic"; src: url(font_base ~ "Poppins-Italic.ttf"); }
        @font-face { font-family: "Poppins Regular"; src: url(font_base ~ "Poppins-Regular.ttf"); }
        @font-face { font-family: "Poppins Medium"; src: url(font_base ~ "Poppins-Medium.ttf"); }
        @font-face { font-family: "Poppins Medium Italic"; src: url(font_base ~ "Poppins-MediumItalic.ttf"); }
        @font-face { font-family: "Poppins Light"; src: url(font_base ~ "Poppins-Light.ttf"); }
        @font-face { font-family: "Poppins LightItalic"; src: url(font_base ~ "Poppins-LightItalic.ttf"); }
        @font-face { font-family: "Poppins Semi Bold"; src: url(font_base ~ "Poppins-SemiBold.ttf"); }
        @font-face { font-family: "Poppins Semi BoldItalic"; src: url(font_base ~ "Poppins-SemiBoldItalic.ttf"); }
        @font-face { font-family: "Poppins Thin"; src: url(font_base ~ "Poppins-Thin.ttf"); }
        @font-face { font-family: "Poppins Thin Italic"; src: url(font_base ~ "Poppins-ThinItalic.ttf"); }
    </style>
    {% endblock %}

    {% block custom_inline_css %}{% endblock %}
    {% block custom_inline_js %}{% endblock %}
</head>
{% endblock %}

{% block body %}
<body id="top" class="min-h-screen flex flex-col font-poppins {% block body_class %}bg-gradient-to-r from-slate-50 to-slate-200{% endblock %}">
    {% block body_content %}
        {% block header %}
            {% include 'partials/layout/header.twig' %}
        {% endblock %}

        <div class="container mx-auto py-2 flex flex-grow">
            {% block layout %}
                <main class="{% block content_class %}flex-1{% endblock %}">
                    {% block content %}
                        <h2 class="text-5xl text-center">Main Content</h2>
                    {% endblock %}
                </main>
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'partials/layout/footer.twig' %}
        {% endblock %}
        
        {% endblock %}
    {% block modal %}
        <div
            class="modal absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30 backdrop-blur-xs hidden flex-col justify-center items-center z-10"
            id="{{ modalId }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="{{ modalId }}Label"
            aria-describedby="{{ modalId }}Description"
            aria-modal="true"
        >
            <div class="w-full md:w-96 m-3 md:m-0 md:mx-auto bg-white p-5 rounded shadow-lg" role="document">
                <div class="modal-header relative flex flex-start flex-grow items-start justify-start mb-3">
                    <div class="flex-1">
                        <h3 id="{{ modalId }}Label" class="block w-full flex justify-start space-x-2 text-lg font-semibold">
                            <span class="mt-1.5">
                                {% block modal_icon %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                                    <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4z"/>
                                </svg>
                                {% endblock %}
                            </span>
                            <span>
                                {% block modal_title %}
                                    Modal Title
                                {% endblock %}
                            </span>
                        </h3>
                        <h4 id="{{ modalId }}Subtitle" class="text-sm text-gray-600">
                            {% block modal_subtitle %}Modal Subtitle{% endblock %}
                        </h4>
                    </div>
                    <button
                        type="button"
                        class="modal-close hover:bg-slate-200 rounded hover:text-mantis-primary hover:cursor-pointer px-2 pb-1"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true" class="mt-[6px]">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-4" id="{{ modalId }}Description">
                    {% block modal_body %}
                        <h2>Modal Body</h2>
                        <p>This is the default content of the modal. Overwrite it in the page via block modal_body.</p>
                    {% endblock %}
                </div>
                <div class="modal-footer flex flex-end gap-3 justify-end items-end w-full">
                {% block modal_footer %}
                    <button class="modal-close bg-slate-200 rounded px-3 py-2 hover:cursor-pointer" data-dismiss="modal">Close</button>
                {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{{ asset('assets/js/scripts.min.js') }}" type="module"></script>
    {% endblock %}
</body>
{% endblock %}
</html>
