{# base.twig - the mother of all views, overwrite blocks to manipulate #}
{# Default Modal Values #}
{% set modalId = 'modal' %}
{% set modalIcon = 'Modal Icon' %}
{% set modalTitle = 'Modal Title' %}
{% set modalSubtitle = 'Modal Subtitle' %}
{% set modalBody = 'Modal Body' %}
{% set modalFooter = 'Modal Footer' %}
{# Set NavLinks of the Sidebar and Home Auth screen #}
{% set navLinks = [
        {

            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>',
            url: "/",
            title: "Home",
            description: "Go to the home screen"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>',
            url: "/posts",
            title: "Posts",
            description: "Manage your posts"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                </svg>',
            url: "/links",
            title: "Links",
            description: "Manage your collections"
        }
    ]
%}
{% set adminLinks = [
        {

            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
                    <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                    <path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                </svg>',
            url: "/admin",
            title: "Admin Overview",
            description: "Go to the admin home"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                </svg>',
            url: "/admin/users",
            title: "Users",
            description: "See all registered users"
        },
        {	
            icon: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                </svg>',
            url: "/admin/subscribers",
            title: "Subscribers",
            description: "See all subscribed users"
        }
    ]
%}
{# End of Default Modal Values #}
<!DOCTYPE html>
<html lang="en" class="h-full">
{% block head %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WebDev HQ &middot; API Service{% endblock %}</title>
	
    {% block favicons %}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content="API" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
    {% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
    {% endblock %}

    {% block custom_fonts_css %}
    {% set font_base = './assets/fonts/Poppins/' %}
    <style id="custom-fonts-css">
        @font-face { font-family: "La Belle Aurore"; src: url("./assets/fonts/La-Belle-Aurore/LaBelleAurore-Regular.ttf"); }

        @font-face { font-family: "Poppins Black"; src: url(font_base ~ "Poppins-Black.ttf"); }
        @font-face { font-family: "Poppins Black Italic"; src: url(font_base ~ "Poppins-BlackItalic.ttf"); }
        @font-face { font-family: "Poppins Bold"; src: url(font_base ~ "Poppins-Bold.ttf"); }
        @font-face { font-family: "Poppins Bold Italic"; src: url(font_base ~ "Poppins-BoldItalic.ttf"); }
        @font-face { font-family: "Poppins Extra Bold"; src: url(font_base ~ "Poppins-ExtraBold.ttf"); }
        @font-face { font-family: "Poppins Extra BoldItalic"; src: url(font_base ~ "Poppins-ExtraBoldItalic.ttf"); }
        @font-face { font-family: "Poppins Extra Light"; src: url(font_base ~ "Poppins-ExtraLight.ttf"); }
        @font-face { font-family: "Poppins Extra LightItalic"; src: url(font_base ~ "Poppins-ExtraLightItalic.ttf"); }
        @font-face { font-family: "Poppins Italic"; src: url(font_base ~ "Poppins-Italic.ttf"); }
        @font-face { font-family: "Poppins Regular"; src: url(font_base ~ "Poppins-Regular.ttf"); }
        @font-face { font-family: "Poppins Medium"; src: url(font_base ~ "Poppins-Medium.ttf"); }
        @font-face { font-family: "Poppins Medium Italic"; src: url(font_base ~ "Poppins-MediumItalic.ttf"); }
        @font-face { font-family: "Poppins Light"; src: url(font_base ~ "Poppins-Light.ttf"); }
        @font-face { font-family: "Poppins LightItalic"; src: url(font_base ~ "Poppins-LightItalic.ttf"); }
        @font-face { font-family: "Poppins Semi Bold"; src: url(font_base ~ "Poppins-SemiBold.ttf"); }
        @font-face { font-family: "Poppins Semi BoldItalic"; src: url(font_base ~ "Poppins-SemiBoldItalic.ttf"); }
        @font-face { font-family: "Poppins Thin"; src: url(font_base ~ "Poppins-Thin.ttf"); }
        @font-face { font-family: "Poppins Thin Italic"; src: url(font_base ~ "Poppins-ThinItalic.ttf"); }
    </style>
    {% endblock %}

    {% block custom_inline_css %}{% endblock %}
    {% block custom_inline_js %}{% endblock %}
</head>
{% endblock %}

{% block body %}
<body id="top" class="min-h-screen flex flex-col font-poppins {% block body_class %}bg-gradient-to-r from-slate-50 to-slate-200{% endblock %}">
    {% block body_content %}
        {% block header %}
            {% include 'partials/layout/header.twig' %}
        {% endblock %}

        <div class="container mx-auto py-2 flex flex-grow">
            {% block layout %}
                <main class="{% block content_class %}flex-1{% endblock %}">
                    {% block content %}
                        <h2 class="text-5xl text-center">Main Content</h2>
                    {% endblock %}
                </main>
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'partials/layout/footer.twig' %}
        {% endblock %}
        
        {% endblock %}
    {% block modal %}
        <div
            class="modal absolute top-0 right-0 bottom-0 left-0 w-full h-full bg-black/30 backdrop-blur-xs hidden flex-col justify-center items-center z-10"
            id="{{ modalId }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="{{ modalId }}Label"
            aria-describedby="{{ modalId }}Description"
            aria-modal="true"
        >
            <div class="w-full md:w-96 m-3 md:m-0 md:mx-auto bg-white p-5 rounded shadow-lg" role="document">
                <div class="modal-header relative flex flex-start flex-grow items-start justify-start mb-3">
                    <div class="flex-1">
                        <h3 id="{{ modalId }}Label" class="block w-full flex justify-start space-x-2 text-lg font-semibold">
                            <span class="mt-1.5">
                                {% block modal_icon %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
                                    <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4z"/>
                                </svg>
                                {% endblock %}
                            </span>
                            <span>
                                {% block modal_title %}
                                    Modal Title
                                {% endblock %}
                            </span>
                        </h3>
                        <h4 id="{{ modalId }}Subtitle" class="text-sm text-gray-600">
                            {% block modal_subtitle %}Modal Subtitle{% endblock %}
                        </h4>
                    </div>
                    <button
                        type="button"
                        class="modal-close hover:bg-slate-200 rounded hover:text-mantis-primary hover:cursor-pointer px-2 pb-1"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true" class="mt-[6px]">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-4" id="{{ modalId }}Description">
                    {% block modal_body %}
                        <h2>Modal Body</h2>
                        <p>This is the default content of the modal. Overwrite it in the page via block modal_body.</p>
                    {% endblock %}
                </div>
                <div class="modal-footer flex flex-end gap-3 justify-end items-end w-full">
                {% block modal_footer %}
                    
                {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block scripts %}
    <script src="{{ asset('assets/js/scripts.min.js') }}" type="module"></script>
    {% endblock %}
</body>
{% endblock %}
</html>
