{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Account &middot; WebDev HQ API{% endblock %}

{% block content %}
	<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
		<div class="bg-white p-4 rounded">
			<div class="flex items-center justify-center mb-4">
				{% if user.image %}
					<img src="{{ user.image }}" class="size-12 mx-auto border rounded-full border-slate-300 my-8" alt="User Avatar" />
				{% else %}
					<img src="./images/Jedi-User.svg" class="size-12 mx-auto border rounded-full border-slate-300 my-8" alt="User Avatar" />
				{% endif %}
			</div>
			<h2 class="text-3xl font-medium my-3 text-center">{{ user.username }}</h2>
			<div class="container">
				<div class="w-full max-w-xl mx-auto">
					<!-- Tabs -->
					<div class="flex space-x-4 border-b border-b-slate-200 mb-4">
						<button data-tab="tab1" class="py-2 px-4 focus:outline-none">Profile Information</button>
						<button data-tab="tab2" class="py-2 px-4 focus:outline-none">Edit profile</button>

					</div>
					<div>
						<div data-content="tab1" class="hidden">

							<ul class="list-disk space-y-2">
								<li>User-ID: {{ user.id }}</li>
								<li>Username: {{ user.username }}</li>
								<li>Bio: {{ user.bio }}</li>
								<li>E-mail: {{ user.email }}</li>
								<li>Role: {{ user.role }}</li>
								<li>Registered on: {{ user.createdAt|date("d.m.Y") }}</li>
								<li>Last update: {{ user.updatedAt|date("d.m.Y H:i") }}</li>
							</ul>
						</div>
						<div data-content="tab2" class="hidden">Inhalt für Tab 2</div>

					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}