{# child.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Links &middot; WebDev HQ API{% endblock %}

{% block content %}
<div class="p-2 bg-white/30 backdrop-blur rounded mx-3 sm:mx-0">
	<div class="bg-white p-4 rounded">
		<div class="flex justify-between gap-6 min-h-[500px]">
			{% block sidebar %}
				{% include 'partials/sidebar.twig' %}
			{% endblock %}
			<section class="flex-1 px-4 py-2">
				<div class="flex justify-between mb-4">
					<h2 class="text-2xl">Links</h2>
					<button class="modal-open flex justify-center items-center gap-2 bg-mantis-primary text-white p-2 hover:cursor-pointer rounded hover:bg-mantis-primary-hover w-32">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
							</svg>
						</span>
						<span>New link</span>
					</button>
				</div>
				<hr class="my-6 border-gray-200" />
				<div class="overflow-x-auto">
					<table class="min-w-full dark:divide-gray-700">
						<thead>
							<tr>
								<th scope="col" class="px-3 py-1 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
									Title
								</th>
								<th scope="col" class="w-[50px] px-3 py-1 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
									Target
								</th>
								<th scope="col" class="px-3 py-1 text-left text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">
									Description
								</th>
								<th scope="col" class="px-3 py-1 text-right text-xs font-medium text-gray-500 dark:text-gray-400 uppercase tracking-wider">Action</th>
							</tr>
						</thead>
						<tbody class="divide-y divide-gray-200 space-y-2">
							{% for link in links %}
								<tr class="hover:bg-slate-50 hover:cursor-default transition">
									<td class="px-3 py-1 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">
										<a href="{{ link.url }}" target="_blank" class="text-mantis-primary hover:text-mantis-primary-hover transition" title="{{ link.title }}">{{ link.title }}</a>
									</td>
									<td class="px-3 py-1 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
											<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
										</svg>
									</td>
									<td class="px-3 py-1 whitespace-nowrap text-sm">
										{{ link.description }}
									</td>
									<td class="px-3 py-1 whitespace-nowrap text-right text-sm font-medium">
										<button class="rounded p-2 bg-slate-200 text-slate-500 hover:cursor-pointer hover:bg-slate-300 hover:text-slate-700">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
												<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
											</svg>
										</button>
										<form method="POST" action="/links/{{ link.id }}" class="inline">
											<input type="hidden" name="method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token }}">
											<button type="submit" class="rounded p-2 border border-rose-500 text-rose-500 hover:cursor-pointer bg-rose-500 text-white" title="Löschen">
												<!-- Trash-Icon -->
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
													<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
												</svg>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}

{# Modal Window with form #}
{% block modal_icon %}
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
		<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
		<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
	</svg>
{% endblock %}
{% block modal_title %}
	Links
{% endblock %}
{% block modal_subtitle %}
	Add a new link to the collection
{% endblock %}
{% block modal_body %}
	{% include 'partials/forms/link-form.twig' %}
{% endblock %}